@import url('https://fonts.googleapis.com/css2?family=Anta&family=Nanum+Gothic+Coding&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-color: #17028a;
    --secondary-color: #990404;
    --accent1-color: #10a502;
    --accent2-color: #5e2ca0;

    --heading-font: 'Anta', sans-serif;
    --paragraph-font: 'Roboto Mono', monospace;

    --nav-background-color: #4E414A;
    --nav-link-color: #fff;
    --nav-hover-link-color: #43414a;
    --nav-hover-background-color: #ffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}
main {
    display: grid;
    grid-template-columns: auto;
}
header {
    display: grid;
    grid-template-columns: 300px 1fr 2fr;
    align-items: center;
    background-color: var(--primary-color);
}

nav {
    display: flex;
    list-style: none;
}

nav a {
    display: block;
    color: #ffffff;
    padding: 35px;
    text-decoration: none;
}

.nav a:hover {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

h2 {
    color: var(--primary-color);
    text-align: center;
}

body {
    font-family: var(--paragraph-font);
    padding: 20px;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.hero article img {
    float: right;
    margin-top: 16px;
    margin-right: 16px;
    width: 200px;
}

.overlay {
    position: absolute;
    top: 25px;
    width: 100%;
    text-align: center;
    background-color: rgba(207, 0, 0, 0.5);
    padding: 10px;
    color: white;
}

.page-heading {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 5px;
    color: white;
    width: 100%;
    margin: 0;
    letter-spacing: 3px;
}

.mg-top {
    margin-top: 10px;
}

.overlay h1 {
    position: absolute;
    top: 50px;
    text-align: center;
    margin: 0;
}

.overlay-second {
    position: absolute;
    top: 150px;
    left: 30px;
    right: 50px;
    background-color: rgba(207, 0, 0, 0.555);
    margin-left: 20px;
}

.overlay-second p {
    margin-top: 10px;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    margin-left: 20px;
    color: white;
}

.adventure {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    text-align: center;
    flex-direction: column;
    margin-top: 10px;
}

.images-container {
    display: flex;
    justify-content: center;
}

figure {
    border-radius: 10%;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 700px;
    margin: 5px;
}

.adventure img {
    max-width: 500px;
    max-height: 180px;
    border-radius: 10%;
}

figcaption {
    color: #000000;
    font: bold smaller sans-serif;
    margin-top: 5px;
    padding: 6px;
    text-align: center;
    font-size: 18px;
}

p {
    text-align: justify;
    color: #000000;
    word-wrap: break-word;
    margin-left: 50px;
    margin-right: 50px;
}

form {
    width: 610px;
    margin: 10px auto;
    padding: 1rem;
    border: 1px solid #17028a;
    border-radius: 0.5rem;
    background-color: #bebcb773;
    display: grid;
}

.general-input {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0 1rem;
    margin: 0 0 1rem;
}

.general-input label {
    text-align: right;
    color: #17028a;
}

.check-input {
    color: #17028a;
    display: grid;
    grid-template-columns: 50px auto;
    gap: 0 1rem;
    margin: 0 0 1rem;
}

.contact-radio {
    color: #17028a;
    display: flex;
    text-align: left;
    grid-gap: 0.1rem;
    background-color: #8600004b;
    padding: 10px;
    margin: 0 0 1rem;
}

legend {
    color: #17028a;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.2em;
}

fieldset {
    margin: 1rem;
    border: 1px solid #17028a;
    padding: 1rem;
}


.lien p {
    text-align: right;
    margin: 0.1rem;
}

footer {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    align-items: center;
    background-color: #6d6d6d;
    color: #fff;
}

footer p {
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}

footer a:hover {
    color: #00eeff;
}

.sociallinks {
    display: flex;
    justify-items: end;
    grid-column: 3;
}

.sociallinks a {
    padding: 5px;
}

.sociallinks img {
    width: 25px;
}

button {
    margin: 1rem;
    background-color: rgb(228, 4, 4);
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: .40rem;
    font-size: 1.2rem;
    width: 160px;
    position: relative;
    margin-left: 210px;
}

button:hover {
    background-color: #10a502;
}

.gmap {
    border: none;
}

.contact-details {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 0 30px;
    margin: 30px 0;
}

.contact-details p {
    color: #17028a;
}

/*-----------------------------CSS of page trips-----------------------------*/

.page-title {
    position: absolute;
    top: 50px;
    text-align: center;
    padding: 10px;
    color: var(--nav-link-color);
    width: 100%;
    margin: 0;
    border-radius: 10px;
    letter-spacing: 5px;
}

.trips {
    position: relative;
}

.trips img {
    width: 100%;
}

.trips article img {
    float: right;
    width: 200px;
}

.button {
    margin: 15px;
    text-align: center;
    color: var(--primary-color);
}

.book-now button {
    margin: 0;
    background-color: rgb(228, 4, 4);
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    width: 500px;
    position: relative;
    margin-left: 11px;
    text-decoration: none;
}

.book-now button:hover {
    background-color: rgb(41, 170, 1);
}

.title-container h3 {
    color: var(--primary-color);
    margin: 0;
    text-align: center;
}

.images-container2 {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 1em 2em;
    margin: 1em 0;
}

.images-container2 img {
    grid-column: 1;
   grid-row: 1/5;
   width: 100%;
}

.images-container2 h3 {
   grid-column: 2;
   grid-row: 1;
}

.images-container2 p {
   grid-column: 2;
   grid-row: 2/5;
   padding: 0;
   margin: 0;
}

.title-table {
    color: #ff0000;
    margin: 0;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 3px solid rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
   margin: 0 auto 20px auto;
}

thead th {
    padding: 5px;
    font-style: italic;
    background-color: #5e2ca0;
    color: #fff;
    font-weight: bold;
}
td {
    padding: .5em 1em;
}
tbody {
    padding: 5px;
    color: #000000;
    font-weight: bold;
    padding: 5px;
    letter-spacing: 1px;
    background-color: #e6e4e481;
}

/*------------------------CSS to home page-------------------------*/

.home {
    position: relative;
    text-align: center;
}

.page-title-home {
    position: absolute;
    top: 40px;
    text-align: center;
    padding: 7px;
    color: var(--nav-link-color);
    margin: 0;
    letter-spacing: 5px;
}

.registration {
    position: absolute;
    width: 600px;
    top: 150px;
    left: 165px;
    background-color: #5e2ca0a8;
    border: 0;
    border-radius: 15px;
}

.general-input-home {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0.7rem;
    margin: 0 0 1rem;
    margin-left: 45px;
}

.general-input-home input {
    margin-top: 10px;
    width: 20rem;
    padding: 0.3em;
}

.general-input-home label {
    margin-top: 10px;
    text-align: right;
    color: #ffffff;
}

.gender-home legend {
    color: #ffffff;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.2em;
}

.gender-home {
    margin: 1rem;
    border: 1px solid #ffffff;
    padding: 1rem;
    border-radius: 20px;
    width: 320px;
    justify-self: center;
}

.home-radio {
    color: #ffffff;
    display: flex;
    text-align: center;
    justify-content: center;
    grid-gap: 0.5rem;
    background-color: #ffffff60;
    padding: 5px;
    border-radius: 25px;
    width: 280px;
    margin-top: 0.1rem;
}

.signup {
    justify-self: center;
    margin: 0;
    background-color: rgb(201, 3, 3);
    color: #fff;
    border-radius: 25px;
    font-size: 1.1rem;
    width: 320px;
    text-align: center;
    padding: .5em 0;
    text-decoration: none;
}

.signup:hover {
    background-color: rgb(41, 170, 1);
}

.images-container3 {
    display: flex;
    justify-content: center;
}

.title-container3 h2 {
    color: #990404;
    text-align: center;
    margin-top: 30px;
}

figure-container3 {
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    padding: 10px;
    max-width: 400px;
    margin: 40px;
    height: 500px;
    background-color: #990404;
    margin-top: 5px;
}

figure-container3 p {
    margin: 0;
    color: #fff;
}

figcaption-container3 {
    color: #990404;
    font: bold smaller sans-serif;
    margin-top: 5px;
    padding: 6px;
    text-align: center;
    font-size: 22px;
    background-color: #fff;
}