#background {
    height: 725px;
    color: gray;
}

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
}

.msg {
    background-color: #6f7364;
    line-height: 1.5em;
  }

.msg {
    text-align: center;
 }

#hero-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .hero-img {
    display: block;
    margin: 0 auto;
 }

 body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

 .book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}

body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    margin: 40px;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}

.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}
  

.icon {
    width: 80px;
}

.card-img {
    display: block;
    margin: 0 auto;
  }

  .rivers-card h2 {
    text-align: center;
  }

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
} 

.home-title,
h4,
.book {
  text-align: center;
}

footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
}    
